<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Kiso</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="wrapper">
    <h1>Commentary</h1>
    <ul class="feed"></ul>
  </div>

<div id="TEMPLATE">
  <!-- Commentary -->
  <li class="commentary-block hidden">
    <h3>Example commentary</h3>
    <h4 class="timestamp">3:20</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </li>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:7777'),
      TEMPLATE_FRAG = document.getElementById( "TEMPLATE" );
  function onStart( data ) {
    var container = document.getElementById( "popcorn-" + data.key );
    container.classList.remove( "hidden" );
  }
  function onEnd( data ) {
    var container = document.getElementById( "popcorn-" + data.key );
    container.classList.add( "hidden" );
  }
  function onSetup( data ) {
    var newEl = TEMPLATE_FRAG.querySelector( ".commentary-block").cloneNode( true ),
        titleContainer = newEl.querySelector( "h4" ),
        textContainer = newEl.querySelector( "p" ),
        key = data.key,
        title = data.title || "Untitled",
        text = data.data.text,
        list = document.querySelector( ".feed" );

    console.log( data );
    newEl.id = "popcorn-" + key;
    titleContainer.innerHTML = title;
    textContainer.innerHTML = text;
    list.appendChild( newEl );
  }

  //Setup!
  socket.on( "setup", onSetup );
  socket.on( "start", onStart );
  socket.on( "end", onEnd );

</script>
</body>
</html>
