body {
  background: #EEE;
  line-height: 1.4;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
}

#video {
  width: 100%;
}

#TEMPLATE {
  display: none;
}

.feed {
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: 1px dashed #AAA;
  li {
    &.hidden {
      //opacity: 0.1;
      border: 1px solid #CCC;
    }
    background: #FFF;
    padding: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 5px solid #3FB58E;
    img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
      float: left;
      &.hidden {
        display: none;
      }
    }
    video,
    iframe {
      width: 100%;
    }
    h3 { // Heading
      margin: 0;
    }
    .timestamp {
      margin: 0;
      color: #999;
      font-weight: normal;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  .wrapper {
    width: 360px;
  }
}
