body {
  background: #EEE;
  line-height: 1.4;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
}
#video {
  width: 100%;
}
#TEMPLATE {
  display: none;
}
.feed {
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: 1px dashed #AAA;
}
.feed li {
  background: #FFF;
  padding: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 5px solid #3FB58E;
}
.feed li.hidden {
  border: 1px solid #CCC;
}
.feed li img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  float: left;
}
.feed li img.hidden {
  display: none;
}
.feed li video,
.feed li iframe {
  width: 100%;
}
.feed li h3 {
  margin: 0;
}
.feed li .timestamp {
  margin: 0;
  color: #999;
  font-weight: normal;
  font-style: italic;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  .wrapper {
    width: 360px;
  }
}
